<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536746077626-lb70ub6n6q9no1oatpd5lfdk0aogt8vl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536746077626-lb70ub6n6q9no1oatpd5lfdk0aogt8vl</string>
	<key>API_KEY</key>
	<string>AIzaSyCrU096uR5ZDX2qhN753mPlbmnh_1yup9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>536746077626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.allDrop</string>
	<key>PROJECT_ID</key>
	<string>drop-1111</string>
	<key>STORAGE_BUCKET</key>
	<string>drop-1111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536746077626:ios:889350fe74556ce3e98183</string>
</dict>
</plist>